body {
    align-content: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

.container {
    width: auto;
    height: auto;
    overflow: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.head-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.play-area {
    height: auto;
    margin-top: 0rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    border: none;
}

.block {
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 0.1rem solid grey;
    transition: 0.1s ease-in-out;
}
  
.block:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.block:active {
    background-color: darkgrey;
}

#block_0,#block_3,#block_6 {
    border-left: none;
}

#block_0,#block_1,#block_2 {
    border-top: none;
}

#block_2,#block_5,#block_8 {
    border-right: none;
}

#block_6,#block_7,#block_8 {
    border-bottom: none;
}

button {
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
    outline: none;
}

button:hover {
    cursor: pointer;
}



